{% extends "index.html" %}
{% block title %}LOGIN{% endblock %}
{% block body %}
    <div style="margin: 13px; ">
    <div class="container" align="center"  style= "width: 30%; border: solid  3px #2c3034; box-shadow: 0.5em 0.5em  black;  border-radius: 13px; background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;">
    <h1 align="center" style="color: #cccccc; text-shadow: 0.1em 0.1em #2c3034;">LOGIN</h1>
<form  class="form-inline" style="width: 50%;" method="POST" enctype="multipart/form-data">
   {% csrf_token %}
 <label class="sr-only" for="username" style="color:#cccccc;font-weight: bold;">Usuario</label>
<div align="left" class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" class="form-control" id="username" placeholder="Usuario" name="username">
  </div>

<label class="sr-only" for="password" style="color:#cccccc;font-weight: bold;">Contraseña</label>
<input type="password" class="form-control mb-2 mr-sm-2" id="password" name="password">


  <div  class="form-check mb-2 mr-sm-2">
    <input class="form-check-input" type="checkbox" id="inlineFormCheck">
    <label class="form-check-label" for="inlineFormCheck" style="color:#cccccc;font-weight: bold;">
      Recordarme
    </label>
  </div>

  <button type="submit" class="btn btn-dark mb-2" style="box-shadow: 0px 0px 15px 5px grey">Login</button>
</form>
    </div>
        </div>


    {% endblock %}