{% extends "index.html" %}
{% block title %}BUSCAR{% endblock %}
{% block body %}
    {% load static %}

      <div style="margin: 13px; ">
    <div class="container" align="center"  style= "width: 30%; border: solid  3px #2c3034; box-shadow: 0.5em 0.5em  black;  border-radius: 13px; background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;">
        <h1 align="center" style="color: #ffffff; padding-top: 15px;text-shadow: 0.1em 0.02em #2c3034;">BUSCAR PELICULAS</h1>
<h5 style="color: #ffffff; padding-top: 15px; padding-bottom: 15px;" align="center">Busca la película que te gustaría, ingresando el título</h5>
<form  class="form-inline" style="width: 50%; margin-bottom: 10px" method="POST" enctype="multipart/form-data">
   {% csrf_token %}
 <label class="sr-only" for="inlineFormInputGroupUsername1" style="color:#cccccc;font-weight: bold;">Título</label>
<div align="left" class="input-group mb-2 mr-sm-2">
    <input type="text" class="form-control" id="inlineFormInputGroupUsername1" placeholder="" name="name">
  </div>
  <button type="submit" class="btn btn-dark mb-2" style="box-shadow: 0px 0px 15px 5px grey">Buscar</button>
</form>
    </div>
        </div>



    {% if peliculas %}

    {% for pelicula in peliculas %}
        <section style=" background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;">
        <div style="justify-content: center;">
     <div class="container" style="width: 90%;"><h2 class="animate__animated animate__zoomIn">{{ pelicula.name}} ({{ pelicula.year }})<img align="top" style="border-radius: 13px; float: right;" src="{{ pelicula.image.url }}"></h2>
        <p><b>{{ pelicula.synopsis }} </b></p>
        <button type="button"  class="btn-danger"><b> Calificación:  {{ pelicula.rating }} </b><span style="padding-bottom: 20px;"><img width="25px" src="{% static 'AppCoder/assets/Starpng-PNG-Photos.png' %}" alt="..."> </span></button>
     </div>
        <div align="center" style="margin-top: 100px; padding-bottom: 100px"><iframe width="680" height="360" src="{{ pelicula.trailer }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
        </div>

        </section>

    {% endfor %}
    {% endif %}

{% endblock %}