{% extends "index.html" %}
{% block title %}VER TODO{% endblock %}
{% load static %}
{% block body %}
<h1 align="center" style="color: #cccccc; text-shadow: 0.1em 0.02em #2c3034;">Listado de películas</h1>
    {% if peliculas %}
       {% for pelicula in peliculas %}
           <!-- Section-->
           <section class="py-5" style="background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);">
               <div class="container px-4 px-lg-8 mt-5">
                   <div class="row gx-4 gx-lg-5 row-cols-5 row-cols-md-3 row-cols-xl-4 justify-content">
                       <div class="col mb-5">
                           <div class="card h-100">
                            <!-- Product image-->
                               <img class="card-img-top" src="{{ pelicula.image.url }}" alt="{{pelicula.name}}" />
                               <!-- Product details-->
                               <div class="card-body p-4">
                                   <div class="text-center">
                                       <!-- Product name-->
                                       <h5 class="fw-bolder">{{ pelicula.name}}</h5>
                                       <!-- Product price-->
                                   </div>
                               </div>
                               <!-- Product actions-->
                               <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">


                                <!-- Button trigger modal -->
                                   <div align="center" style="padding-bottom: 10px;"><button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal{{ pelicula.id }}">
                                       + info</button>

                                   </div>
                                   <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ pelicula.trailer }}" target="_blank">Ver trailer</a></div>

                                   <!-- Modal -->
                                   <div class="modal fade" id="exampleModal{{ pelicula.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                       <div class="modal-dialog">
                                           <div class="modal-content" style="background-image: linear-gradient(to right, #434343 0%, black 100%);">
                                               <div class="modal-header">
                                                   <h5 class="modal-title" id="id_username" style="color: #f0f0f0;">{{ pelicula.name }}</h5>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                               </div>
                                               <div class="modal-body" style="background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);">
                                                   <p><span style="font-size: medium; color: #4f5050;"><b>Año de estreno: {{ pelicula.year }}</b></span></p>
                                                   <p><span style="font-size: medium; color: #4f5050;"><b>Género: {{ pelicula.gener }}</b></span></p>
                                                   <p><span style="font-size: medium; color: #4f5050;"><b>Reseña: {{ pelicula.synopsis }}</b></span></p>
                                                   <p><span style="font-size: medium; color: #4f5050;"><b>Rating: {{ pelicula.rating }}</b></span> <span style="padding-bottom: 20px;"><img width="25px" src="{% static 'AppCoder/assets/Starpng-PNG-Photos.png' %}" alt="..."></span></p>
                                               </div>
                                               <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                    <button type="button" class="btn btn-secondary" ><a style="color: #f0f0f0; text-decoration: none;" href="{% url 'AppEliminar' pelicula.id %}">Eliminar</a> </button>
                                                    <button type="button" class="btn btn-secondary" ><a style="color: #f0f0f0; text-decoration: none;" title="Esta función se encontrará disponible próximamente.">Editar</a> </button>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h5 class="modal-title" id="exampleModalLabel">{{ pelicula.name }}</h5>
                               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" ></button>

                           </div>
                           <div class="modal-body" >
                               <p><iframe id="iframeVideo" width="100%" height="315" src="{{ pelicula.trailer }}"> </iframe></p>
                           </div>
                           <div class="modal-footer">
                               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                             </div>
                           </div>
                       </div>
                   </div>

           </section>
       {% endfor %}
    {% else %}
        <h4 style="color: #cccccc;">No hay películas para mostrar por ahora:(</h4>
{% endif %}




{% endblock %}