{% extends "index.html" %}
{% block title %}PELICULAS{% endblock %}
{% load static %}
{% block body %}
    <h1 align="center" style="color: #cccccc">Listado de películas</h1>
    {% if peliculas %}
       {% for pelicula in peliculas %}
           <!-- Section-->
           <section class="py-5" >
               <div class="container px-4 px-lg-5 mt-5">
                   <div class="row gx-4 gx-lg-5 row-cols-5 row-cols-md-3 row-cols-xl-4 justify-content">
                       <div class="col mb-5">
                           <div class="card h-100">
                            <!-- Product image-->
                               <img class="card-img-top" src="{{ pelicula.image.url }}" alt="{{pelicula.name}}" />
                               <!-- Product details-->
                               <div class="card-body p-4">
                                   <div class="text-center">
                                       <!-- Product name-->
                                       <h5 class="fw-bolder">{{ pelicula.name}}</h5>
                                       <!-- Product price-->
                                   </div>
                               </div>
                               <!-- Product actions-->
                               <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                                <!-- Button trigger modal -->
                                   <div align="center" style="padding-bottom: 10px;"><button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal{{ pelicula.id }}">
                                       + info</button>
                                   </div>
                                   <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ pelicula.trailer }}" target="_blank">Ver trailer</a></div>

                                   <!-- Modal -->
                                   <div class="modal fade" id="exampleModal{{ pelicula.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                       <div class="modal-dialog">
                                           <div class="modal-content">
                                               <div class="modal-header">
                                                   <h5 class="modal-title" id="exampleModalLabel">{{ pelicula.name }}</h5>
                                                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                               </div>
                                               <div class="modal-body">
                                                   <p>Año de estreno: {{ pelicula.year }}</p>
                                                   <p>Género: {{ pelicula.gener }}</p>
                                                   <p>Reseña: {{ pelicula.synopsis }}</p>
                                                   <p>Rating: {{ pelicula.rating }}<span style="padding-bottom: 20px;"><img width="25px" src="{% static 'AppCoder/assets/Starpng-PNG-Photos.png' %}" alt="..."></span></p>
                                               </div>
                                               <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog">
                       <div class="modal-content">
                           <div class="modal-header">
                               <h5 class="modal-title" id="exampleModalLabel">{{ pelicula.name }}</h5>
                               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                           </div>
                           <div class="modal-body" >
                               <p><iframe id="iframeVideo" width="100%" height="315" src="{{ pelicula.trailer }}"> </iframe></p>
                           </div>
                           <div class="modal-footer">
                               <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                           </div>
                       </div>
                   </div>
               </div>
           </section>
       {% endfor %}
    {% else %}
        <h4>No hay películas para mostrar por ahora:(</h4>
    {% endif %}
{% endblock %}